#Author-Photos img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#Author-Photos {
  display: flex;
}
#Design-Photos {
  display: flex;
}
#Design-Photos img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
